/* GENERAL STYLES */
body {
  background-color: #f4ddb8
}

h5 {
  margin: 10px auto;
}

.row {
  padding: 2px;
}

/* USER FORM */
#menu-form {
  border-radius: 8px;
  background-color: #FEF9EF;
}

#submit-button {
  padding: 8px;
}

/* SHOPPING CART */
#shopping-cart {
  border-radius: 8px;
  background-color: #FEF9EF;
  margin: 5px auto;
}

#shopping-cart-pizzas {
  height: 325px;
  overflow-y: auto;
}


#red {
  color: red;
}

/* FINAL COST & REMOVE ITEMS */
#customer-order {
  font-weight: bold;
  color: red;
}

#hidden {
  display: none;
}

.remove-button {
  padding: 8px;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 770px) {
  .phone-stack {
    width: 100%;
  }

  #shopping-cart-pizzas {
    height: 150px;
  }
}